.menu__list-items.menu__list-items_selected{
  border-bottom: #fff 2px solid;
}

@media screen and (max-width: 767px) {
  .menu__list-items.menu__list-items_selected {
    border: 0;
  }
}

.menu__list-items.menu__list-items_selected-black {
  border-bottom: 3px black solid;
}

@media screen and (max-width: 767px) {
  .menu__list-items.menu__list-items_selected-black {
    border: 0;

  }
}
