@import url(./_hide/auth-form__error_hide.css);
@import url(./_usr-exists/auth-form__error_usr-exists.css);
.auth-form__error {
  display: inline-block;
  width: 100%;
  color: #ff0000;
  font-size: 0.8rem;
  margin: 0;
}
