.search__title {
  font-family: "Roboto Slab";
  margin: 0 auto 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 3.75rem;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .search__title {
    font-size: 2.25rem;
    margin: 0 0 16px;
    width: 385px;
  }
}

@media screen and (max-width: 767px) {
  .search__title {
    width: 285px;
  }
}
