@import url(__title/about__title.css);
@import url(__photo/about___photo.css);
@import url(__text/about__text.css);

.about {
  display: flex;
  padding: 80px 104px;
}

@media screen and (max-width: 1023px) {
  .about {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    padding: 32px 16px 80px;
    align-items: center;
  }
}
