.button.search__button {
  background-color: #2F71E5;
  color: white;
  border: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.125rem;
  padding-top: 21px;
  padding-bottom: 21px;
  border-radius: 100px;
  cursor: pointer;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .button.search__button {
    width: 45%;
    padding: 16px 22px;
  }
}


@media screen and (max-width: 767px) {
  .button.search__button {
    width: 100%;
    font-size: 1.125rem;
    margin-top: 16px;
  }
}
