.card__pic {
  background-image: url(../../../../images/card.png);
  height: 272px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

@media screen and (max-width: 1023px) {
  .card__pic {
    height: 150px;
  }
}

@media screen and (max-width: 767px) {
  .card__pic {
    height: 196px;
  }
}
