@import url(__title/preloader__title.css);
@import url(__subtitle/preloader__subtitle.css);
@import url(__message/preloader__message.css);
@import url(__icon/preloader__icon.css);
.preloader {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f5f6f7;
}
