.saved-papers__title {
  width: 450px;
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  font-size: 2.5rem;
  margin: 30px 0 0;
  padding: 0;
  color: black;
}

@media screen and (max-width: 1023px) {
  .saved-papers__title {
    line-height: 1.15;
    font-size: 1.85rem;
    max-width: 400px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .saved-papers__title {
    width: auto;
  }
}
