.results__button {
  border-radius: 80px;
  margin: 64px auto 0;
  background-color: white;
  color: black;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 21px 84px;
  border: 0;
  cursor: pointer;
}

.button.results__button:hover {
  background-color: gray;
}


.button.results__button:active {
  background-color: #e8e8e9;
}

@media screen and (max-width: 1023px) {
  .button.results__button {
    margin-top: 22px;
    padding: 15px 60px 17px;
  }
}

@media screen and (max-width: 767px) {
  .button.results__button {
    margin: 15px 0 0;
    padding: 15px 0 17px;
  }
}
