@import url(__title/saved-papers__title.css);
@import url(__subtitle/saved-papers__subtitle.css);
@import url(__keywords/saved-papers__keywords.css);

.saved-papers {
  background-color: white;
  padding: 40px 104px 56px 104px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .saved-papers {
    padding: 24px 40px 32px 40px;
  }
}

@media screen and (max-width: 767px) {
  .saved-papers {
    padding: 16px 16px 32px 16px;
  }
}
